@font-face {
    font-family: "freight light";
    src: url(assests/Freight_Big_Pro/Freight\ Big\ Pro\ Light.otf);
}
@font-face {
    font-family: "freight medium";
    src: url(assests/Freight_Big_Pro/Freight\ Big\ Pro\ Medium.otf);
}
@font-face {
    font-family: "freight semibold";
    src: url(assests/Freight_Big_Pro/Freight\ Big\ Pro\ Semibold.otf);
}
@font-face {
    font-family: "freight bold";
    src: url(assests/Freight_Big_Pro/Freight\ Big\ Pro\ Bold.otf);
}
@font-face {
    font-family: gilroy;
    src: url(assests/Gilroy-Medium.e7e7c091.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;       
}

html, body{
    height: 100%;
    width: 100%;
}

#yellow{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 999;
    background-color: #F5E41B;
}
#loader{   
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(20, 20, 20);
}
#loader #vedio{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    user-select: none;
    pointer-events: none;
    transform: scale(1.3);
}
#loader h1{
    font-size: 6.9vw;
    font-weight: 100;   
    font-family: freight light; 
    letter-spacing: -3px; 
    line-height: .75;
    text-align: center;
    user-select: none;
    color: #f2f2f2; 
    z-index: 50;  
    user-select: none;
}


#main{
    width: 100%;
    background-color: #141414;
}

#nav{
    position: fixed;
    top: 0;
    height: 6rem;
    width: 100%;
    padding: 0 40px 0 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;   
    z-index: 10;    
}
#nav svg:nth-child(1){
    height: 1.3rem; 
    fill: #141414;     
    cursor: pointer;
    user-select: none;   
}
#menuicon #mobile{
    display: none;
}
#menuicon #computer{
    height: 1.5rem !important;      
    cursor: pointer;
    transition: transform cubic-bezier(0.19, 1, 0.22, 1) .7s;
}
/* #menuicon svg:hover{
    transform: rotate(136deg);     
} */
.rotate{
    transform: rotate(-136.3deg);    
}


#menu{
    height: 3.8rem;
    width: 20rem;
    padding: 5px 2px 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;
}
.width{
    width: 26.3rem !important;
}
#links{
    width: 20rem;  
    /* width: 80%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: green; */
}
/* #links .child m mne transition m ease lgya h isliya fast jara h */
#links .child{
    display: inline-block;
    position: relative;
    font-size: 1.07rem;
    text-transform: uppercase;
    color: #141414;    
    font-weight: 300;
    font-family: "gilroy";
    cursor: pointer;  
    user-select: none;
    opacity: 0;
    margin-left: 100%;  
    transition: all ease cubic-bezier(0.19, 1, 0.22, 1) .8s;   
}
.forchild{
    margin-left: 0% !important;
    opacity: 1 !important;  
}
#links .parent{
    padding: 3px;
    overflow: hidden;
    /* background-color: red; */
} 
#links .child::before{
    content: "";
    position: absolute;
    bottom: -1px;   
    left: 50%; 
    transform: translate(-50%, 0); 
    height: 1.3px;
    width: 0%;
    background-color: rgb(43, 43, 43);
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;   
}
#links .child:hover::before{
    width: 100%;
}

#menuicon{
    height: 2.5rem;
    width: 1.5rem;  
    display: flex;
    align-items: center;
    justify-content: center;   
    /* background-color: red;      */
}

#menu-page{
    display: none;
}



#page1{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #F5E41B;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page1 h1{
    font-size: 6.9vw;
    font-weight: 100;   
    font-family: freight light; 
    letter-spacing: -3px; 
    line-height: .75;
    text-align: center;
    user-select: none;
}
#accounts{
    position: absolute;
    bottom: 0;  
    height: 5rem;
    width: 100%;
    padding: 20px 45px 25px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;     
}
#accounts a{
    position: relative;
    font-size: 1.07rem;
    text-transform: uppercase;
    color: #141414;
    text-decoration: none;
    font-weight: 300;
    font-family: "gilroy";
    user-select: none;
}
#accounts a::before{
    content: "";
    position: absolute;
    bottom: -1px;   
    left: 50%; 
    transform: translate(-50%, 0); 
    height: 1.3px;
    width: 0%;
    background-color: rgb(43, 43, 43);
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}
#accounts a:hover::before{
    width: 100%;
}
#accounts svg{
    height: .85rem;
    cursor: pointer;
}

#page2{
    height: 100vh;
    width: 100%;
    color: #f2f2f2;
    background-color: #141414;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    /* background-image: url(assests/img1.jpg); */
    background-size: cover;
    background-position: center;
    transition: background-image ease .3s;
}
#page2 .texts{  
    position: relative;   
    width: 100%;      
    overflow: hidden;
    transition: all ease 0.3s;
    /* background-color: red;    */
}
#page2 .texts:hover h1{
    font-style: italic;
    color: #141414;
}

#page2 .texts h1{
    position: relative;
    width: fit-content;
    margin: 0 auto;
    font-size: 7vw;
    font-weight: 100;
    font-family: freight light;
    text-transform: uppercase;
    line-height: .72;
    letter-spacing: -2px;
    user-select: none;
    cursor: pointer;
    z-index: 5;   
    /* background-color: rgb(0, 110, 255); */
}

#page2 .texts .textline{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%) scaleY(0);
    height: 2.4rem;
    width: 100%;   
    display: flex;   
    align-items: center;
    justify-content: space-between;
    color: #0f0f0f;
    background-color:#F5E41B;
    white-space: nowrap;
    overflow: hidden;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .8s;
}
#page2 .texts .textline .moving{
    width: 100%;
    display: inline-block;    
    animation: moving 5s linear  infinite ;
}
#page2 .texts .textline .moving span{
    display: inline-block;
    font-size: 17.5px;
    font-weight: 400;
    font-family: gilroy;
    text-transform: uppercase; 
    margin-left: 35px;  
    user-select: none;  
    opacity: 0;
    transition: opacity cubic-bezier(0.19, 1, 0.22, 1) 0.8s;
    transition-delay: .2s;    
}

@keyframes moving {
    to{
        transform: translateX(-100%);
    }
    from{
        transform: translateX(0%);
    }
}
#page2 .texts .blur{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scaleY(0);
    width: 38%; 
    height: 1rem;
    background: linear-gradient( #f5e31bf6, #F5E41B, #f5e31bf1);    
    z-index: 1; 
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .8s;  
    box-shadow: 10px 0 20px 15px #F5E41B, -10px 0 20px 15px #F5E41B;
}   

#page2 .texts:hover .textline{
    transform: translate(0,-50%) scaleY(1);   
}
#page2 .texts:hover .blur{
    transform: translate(-50%,-50%) scaleY(1);
}
#page2 .texts:hover .textline span{
    opacity: 1;
}

#page3{   
    /* height: fit-content; */
    width: 100%; 
    padding: 30px 20px ;
    display: flex; 
    align-items: start; 
    justify-content: center;
    background-color: #eeeeee;   
}
#page3 .row{   
    width: 33.33%;   
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow: hidden;
}
#page3 .row .imgdiv{
    height: fit-content;
    width: fit-content;
    position: relative; 
    overflow: hidden;   
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* background-color: red; */
}

#page3 .row .imgdiv img{
    height: 67vh;
    width: 30vw;
    object-fit: cover;
    object-position: center;  
    cursor: pointer;
    transition: transform cubic-bezier(0.19, 1, 0.22, 1) .8s;
}
#page3 .row .imgdiv:hover img{
    transform: scale(1.06);
}

#page3 .row .imgdiv .overlay{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0f0f0f;
    cursor: pointer;
    opacity: 0;       
    transition: opacity cubic-bezier(0.19, 1, 0.22, 1) .8s;
}
#page3 .row .imgdiv:hover .overlay{
    opacity: 1;
}
#page3 .row .imgdiv .overlay h3{
    width: 23vw;
    text-align: center;
    font-size: 3vw;   
    font-weight: 100;
    line-height: .84;
    font-family: freight light;
    text-transform: uppercase;      
    user-select: none;
    /* background-color: red; */
}

#page3 .row2 .imgdiv img{
    height: 51vh;
    width: 30vw;
    object-fit: cover;
    object-position: center;  
}


#back-to-top{
    height: 9rem;
    display: flex; 
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    background-color: #f2f2f2;
}
#back-to-top div{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}
#back-to-top svg{ 
    margin: 1.7rem 0 .9rem;   
}
#back-to-top  h5{     
    font-size: 1rem;   
    font-weight: 100;
    font-family: Gilroy;
    text-transform: uppercase;   
    margin-bottom: 2rem;   
    user-select: none;
}


#footer{
    height: 8rem;
    width: 100%;    
    padding: 10px 55px;
    display: flex;
    align-items: center;
    background-color: rgb(10, 10, 10);
}
#foot-links{
    height: 7vh;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #F5E41B; */
}
#foot-links h5{
    position: relative;
    font-size: 1.05rem;   
    font-weight: 500;
    font-family: Gilroy;
    text-transform: uppercase;   
    margin-bottom: 2rem;   
    user-select: none;
    margin: auto 0;
    color: #f2f2f2;
    cursor: pointer;
}
#foot-links h5::before{
    content: "";
    position: absolute;
    bottom: -1px;   
    left: 50%; 
    transform: translate(-50%, 0); 
    height: 1.3px;
    width: 0%;
    background-color: rgb(202, 202, 202);
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}
#foot-links h5:hover::before{
    width: 100%;
}
#newslatter{
    width: 18rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
}


@media (max-width: 1050px) {


    #loader #vedio{
        transform: scale(1.8);
     }

    #page2 .texts .textline{
        height: 1.7rem;
    }
    #page2 .texts .textline .moving span{      
        font-size: 15px;            
    }

    #page3{      
        padding: 15px 8px ;      
        /* background-color: #F5E41B; */
    }
    #page3 .row{   
        gap: 10px;    
        /* background-color: red; */
    } 
    #page3 .row .imgdiv img{
        height: 45vh;
        width: 31vw;       
    }
    #page3 .row2 .imgdiv img{
        height: 35vh;        
    }
    
    #back-to-top{
        height: 6.5rem;
    }
    #back-to-top h5{
        font-size: .9rem;
        margin-bottom: 1.5rem;
    }
    #foot-links h5::before{
        height: 1px;
    }
    
    #footer{
        height: 7rem;  
        padding: 20px 25px;           
    } 
    #footer h5{
        font-size: 1rem;
    }
    #newslatter{
        width: 15.5rem;
        /* background-color: red; */
    }
}

@media (max-width: 770px){

    #nav{
        height: 5rem;
        width: 100%;
        padding: 15px 25px;       
        /* background-color: yellow; */
    }
    #menu{
        width: 5rem !important;       
    }
    #nav svg{
        height: 1.2rem !important;      
    }
    #links span{
       display: none;
    }

    #menuicon #computer{
        display: none;
    }
    #menuicon #mobile{
        display: block;     
        cursor: pointer;       
        transition: transform cubic-bezier(0.19, 1, 0.22, 1) .7s;
    }
    
    #menu-page{
        position: relative;      
        display: block;
        overflow-y: hidden;
        height: 100vh;
        width: 100%;
        position: fixed;    
        top: 0;  
        z-index: 9;
        background-color: #FFFFFF;
        transform: scaleY(0);
        transition: transform cubic-bezier(0.19, 1, 0.22, 1) .5s;
    }
    .pageanimation{
        transform: scaleY(1) !important;        
    }
    #menu-page-links{      
        height: 17rem;
        width: 100%;
        padding: 32px;
        display: flex;
        gap: 20px;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        /* background-color: red; */
    }
    #menu-page-bottom{
        position: absolute;       
        bottom: 1%;
        width: 100%;
        height: 3rem;
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* background-color: #F5E41B; */
    }
    #menu-page-links a, #menu-page-bottom a{
        position: relative;
        font-size: 1rem;       
        font-family: gilroy;
        color: #1a1919;
        text-decoration: none;
        text-transform: uppercase;       
    }
    #menu-page-links a::before,  #menu-page-bottom a::before{
        content: "";
        position: absolute;
        bottom: -1px;   
        left: 50%; 
        transform: translate(-50%, 0); 
        height: 1px;
        width: 0%;
        background-color: rgb(43, 43, 43);
        transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
    }
    #menu-page-links a:hover::before,  #menu-page-bottom a:hover::before{
        width: 100%;
    }
    /* #menu-page-links a:nth-child(1){
        text-decoration: 1px solid black underline;
        text-underline-offset: 3px;
    }
    #menu-page-links a:nth-child(1):hover{
        text-decoration: none;
    } */

    #page1{
        height: 88vh;
    }
    #page1 h1{
        font-size: 2.9rem;    
        letter-spacing: -1.5px; 
    }
    #loader h1{
        font-size: 2.9rem;
        letter-spacing: -1.5px; 
        margin-bottom: 5rem;
    }

    #accounts{
        height: 4rem;
        padding: 30px;
        /* background-color: red; */
    }
    #accounts svg{
        height: .53rem;
    }
    #accounts a{
        font-weight: 500;
        font-size: .9rem;
    }
    #accounts a::before{
        height: 1px;
    }

    #page2 .texts h1{
        font-size: 15.5vw;
        line-height: .77;
    }
    #page2 .texts .textline{
        height: 1.9rem;       
    }
    #page2 .texts .textline .moving span{      
        font-size: 15px;            
    }   
    #page2 .texts .blur{       
        width: 75%; 
        height: 1rem;       
    }
    #page3 .row .imgdiv .overlay h3{
        width: 70.5vw;        
        font-size: 9.6vw;       
        line-height: .84;                   
        /* background-color: red; */
    }

    #page3{      
        height: auto;
        padding: 15px 10px ;      
        flex-direction: column;
        align-items: center;
        justify-content: start;
        /* background-color: #F5E41B; */
    }
    #page3 .row{  
        height: auto;
        width: 100%;      
        gap: 10px;              
        /* background-color: rgb(55, 0, 255); */
    } 
    #page3 .row .imgdiv{  
        height: fit-content;     
        width: 100%;
    }
    #page3 .row .imgdiv img{
        height: 100%;
        width: 100%;        
    }
    #page3 .row2 .imgdiv img{
        height: 100%;  
          
    }

    #footer{
        height: 5.2rem;  
        padding: 15px 25px;           
    } 
    #footer h5{
        font-size: .9rem;
    }
    #newslatter{
        width: 13rem;
        /* background-color: red; */
    }
}

@media (max-width: 520px) {

    #page1{
        height: 85vh;
    }
    #page1 h1{
        width: 85%;
        font-size: 2.75rem;
        /* background-color: red; */
    }
    #loader h1{
        width: 85%;
        font-size: 2.75rem;
        margin-bottom: 7rem;
    }

    #loader #vedio{
       transform: scale(3.5);
    }
     
    #menu-page-links a, #menu-page-bottom a{       
        font-size: .92rem;  
    }
    #menu-page-bottom{      
        bottom: 8%;
    }

    #page2 .texts .textline{
        height: 1.15rem;       
    }
    #page2 .texts .textline .moving {
        margin-right: 40px;
    }
    #page2 .texts .textline .moving span{      
        font-size: 12px;  
        padding-bottom: 3px;         
       
    }  

    #back-to-top{
        height: 9rem;       
       
    }
    #back-to-top div{
        margin-bottom: 1rem;
        /* background-color: red; */
    }
    #back-to-top  h5{     
        font-size: 1.05rem;  
    }
    
    #footer{
        height: 11rem;  
        color: #fff;     
        background-color: rgb(5, 5, 5);
    }
    #foot-links{
        height: 7rem;
        padding: 0 5px 0;
        align-items: start;       
        flex-direction: column;
        /* background-color: yellow; */
    }
    #foot-links h5{
        font-size: .95rem;      
        margin: 3px 0 20px;
    }
    #foot-links h5::before{
        height: .75px;
    }
    #newslatter{       
        align-items: start;
        flex-direction: column;
        /* background-color: #170994; */
    }
}